.profile_modal {
  position: absolute;
  left: 1.5rem;
  top: 100%;
  z-index: 20;
  min-width: 150px;
  background: #fff;
  border: 1.5px solid #ddd;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: stretch;
}

.profile_modal_btn,
.profile_modal_btn_cancel {
  font-size: 15px;
  padding: 9px 0;
  border-radius: 6px;
  border: none;
  background: #7fe7d9;
  color: #000000;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.18s;
  width: 100%;
}

.profile_modal_btn_cancel {
  border: none;
  background: #d9dadb;
  color: #424242;
  font-weight: 500;
}
