.rm_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.rm_content {
    background: #fff;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    padding: 1.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.rm_content h3 {
    font-family: "PaperlogyMD";
    margin-bottom: 5px;
    font-size: 2rem;

}

.rm_stars {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.rm_star-wrapper {
    cursor: pointer;
}

.star {
    font-size: 2rem;
}

.star.filled {
    color: gold;
}

.star.half {
    color: gold;
}

.star.empty {
    color: #ccc;
}

.rm_textarea {
    width: 100%;
    min-height: 150px;
    resize: vertical;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.rm_actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.rm_btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.rm_btn.cancel {
    background: #ccc;
}

.rm_btn.submit {
    background: #28a745;
    color: white;
}
.rm_msg {
    position: absolute;
    font-size: 14px;
}