.container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 1rem 2rem;
  background-color: #fdfdfd;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.seller-register-wrapper {
  text-align: center;
}

.main-simage {
  width: 120px;
  height: 120px;
  background: #eee;
  margin: 0 auto 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.subtitle_one, .subtitle_two {
  color:#1111116b;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  cursor: pointer;
}

.clickable-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-placeholder {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
}

.click-text {
  color: #777;
  font-size: 0.85rem;
}

.btn {
  padding: 0.4rem 0.8rem;
  margin: 0.5rem 0.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn.blue {
  background-color: #0066ff;
  color: white;
}

.btn.cancel {
  background-color: #A71717;
  color: white;
}

.btn.register {
  background-color: #1F9CE7;
  color: white;
  width: 25%;
  margin-top: 1rem;
}

.input-field,
.textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.textarea {
  height: 100px;
  resize: vertical;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.img-box {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.delete-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 14px;
  cursor: pointer;
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  background: white;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
}

.info-title,.content-title{
  display: flex;
  font-size: 22px;
}