/* 폰트 */

@font-face {
  font-family: "NotoSansRG";
  src: url(../assets/fonts/NotoSans_RG.ttf);
}

@font-face {
  font-family: "NotoSansSB";
  src: url(../assets/fonts/NotoSans_SB.ttf);
}

@font-face {
  font-family: "PaperlogyMD";
  src: url(../assets/fonts/Paperlogy_MD.ttf);
}

@font-face {
  font-family: "PretendardMD";
  src: url(../assets/fonts/Pretendard_MD.otf);
}

@font-face {
  font-family: "PretendardRG";
  src: url(../assets/fonts/Pretendard_RG.otf);
}

@font-face {
  font-family: "GyeongiTitleMD";
  src: url(../assets/fonts/GyeongiTitle_MD.ttf);
}

@font-face {
  font-family: "GyeongiTitleBD";
  src: url(../assets/fonts/GyeongiTitle_BD.ttf);
}
