
.request-component{
    margin-top: 5vh;
}





.request-body{
  margin-top: 2vh;
}

/* @media (prefers-reduced-motion: reduce)  */
@media (max-width: 768px)
{
  .request-component{
    margin-top: 15vh;;
  }
  .request-body{
    margin-top: 2vh;
  }
}