.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fcfcfc;
}

/* 주석:: 로그인 컨텐츠 박스 */
.signup_smallcontainer {
  width: 30rem;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.input {
  width: 89%;
  padding: 0.8rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}
