body {
  background-color: #f8f8f8;
}
.mypage_container {
  max-width: 700px;
  margin: 2rem auto;
  background: rgb(255, 255, 255);
  padding: 2rem 6rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mypage_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.role_change_button {
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
  background-color: #4b5563;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.4s ease;
  font-family: "NotoSansSB";
}

.role_change_button:hover {
  background-color: #374151;
}

.mypage_title {
  font-family: "PaperlogyMD";
  font-size: 2.25rem;
  font-weight: 700;
}

.title_divider {
  border: none;
  border-bottom: 4.5px solid #45b0b8b7;
  width: 100%;
  margin: 0.5rem 0 2rem;
}
.section_divider {
  border: none;
  border-bottom: 1px solid #01666d3f;
  width: 100%;
  margin: 0.2rem 0 1rem;
}

.mypage_section {
  margin-bottom: 0rem;
}

.section_title {
  color: #18a89b;
  font-family: "NotoSansRG";
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

/* 내 정보 영역 */

.profile_image {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  border: none;
  margin-bottom: 1rem;
}

.myinfo_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_name {
  font-family: "PaperlogyMD";
  font-size: 1.25rem;
  margin-bottom: 1rem;
  float: left;
}
.user_email {
  font-family: "NotoSansSB";
  font-size: 1.25rem;
}

.update_button {
  background-color: #007bff;
  color: rgb(247, 255, 255);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.4s ease;
  font-family: "NotoSansSB";
  font-size: 1rem;
  float: right;
}
.update_button:hover {
  background-color: #0059b3;
}

.role_badge {
  display: inline-block;
  padding: 4.5px 8px;
  font-size: 0.85rem;
  color: white;
  border-radius: 4px;
  margin-left: 0.6rem;
  vertical-align: middle;
}

.badge_user {
  background-color: #5cfd9a;
  color: black;
}

.badge_seller {
  background-color: #c695ff;
}

.badge_admin {
  background-color: #ff542a;
}

/* 견적 영역  */

.myrequest_wrapper {
  margin-bottom: 2rem;
}

.request_info_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.request_texts {
  display: flex;
  flex-direction: column;
  font-family: "PaperlogyMD";
}

.request_info {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.2rem 0;
}

.textcolor1 {
  color: #18a89b;
}
.textcolor2 {
  color: rgba(34, 139, 131, 0.671);
}

.request_info_button {
  background-color: #007bff;
  color: rgb(247, 255, 255);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.4s ease;
  font-family: "NotoSansSB";
  font-size: 1rem;
  float: right;
}

.request_info_button:hover {
  background-color: #0059b3;
}

/* 내 업체 영역  */

.mycomp_wrapper {
  margin-bottom: 2rem;
}

.mycomp_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.company_infos {
  display: flex;
  flex-direction: column;
}

.company_no {
  font-family: "NotoSansSB";
  font-size: 1.45rem;
  margin: 0.2rem 0;
}
.company_name {
  font-family: "NotoSansSB";
  font-size: 1.65rem;
  margin: 0.2rem 0;
}
.company_address {
  font-family: "PaperlogyMD";
  font-size: 1.1rem;
  margin: 0.2rem 0;
}

.comp_info_button {
  background-color: #007bff;
  color: rgb(247, 255, 255);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.4s ease;
  font-family: "NotoSansSB";
  font-size: 1rem;
  float: right;
}

.request_info_button:hover {
  background-color: #0059b3;
}

.comp_info_button2 {
  background-color: #a8a8a8;
  color: rgb(90, 90, 90);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  transition: background 0.4s ease;
  font-family: "NotoSansSB";
  font-size: 0.75rem;
  float: right;
}

/* seller데이터 입력 모달 */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal_container {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal_container h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
  font-family: "PaperlogyMD";
  font-weight: 700;
}

.modal_container input {
  font-family: "NotoSansRG";
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

/* 주소 입력 */

.address_input_wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.company_address_input {
  flex: 1;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 12px;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  margin-bottom: 0rem !important;
}

/* 주석:주소 검색 버튼 */
.address_search_button {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #151515;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 12px;
  height: 48px;
  cursor: pointer;
  font-size: 0.8rem;
  color: rgb(246, 246, 246);
  transition: background-color 0.2s ease;
  font-family: "NotoSansRG";
}

.address_search_button:hover {
  background-color: rgb(0, 0, 0);
}

/* 주석: 주소 선택 취소 버튼 */
.address_cancel_button {
  background-color: #ececec;
  border: none;
  border-radius: 6px;
  padding: 0 12px;
  height: 48px;
  font-size: 0.9rem;
  color: #cc0000;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: "NotoSansRG";
}

.address_cancel_button:hover {
  background-color: #ffe0e0;
}

.button_row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.modal_buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.modal_buttons button {
  width: 38%;
  padding: 0.6rem 0;
  font-weight: bold;
  border: none;
  background-color: #000000;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 0.65rem;
}

.modal_buttons button:last-child {
  background-color: rgb(73, 27, 180);
  color: white;
}

.modal_buttons button:hover {
  opacity: 0.9;
}

/* 주석: 계정 추가 도움 */
.mypage_help {
  margin-top: 3.25rem;
  font-size: 0.92rem;
  color: #666;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mypage_help a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease-in;
}

.mypage_help .withdraw_link {
  text-decoration: none;
  color: #ff0000d7;
  transition: 0.3s ease-in;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.mypage_help a:hover {
  text-decoration: underline;
  color: #3d3636;
}

.mypage_help .withdraw_link:hover {
  text-decoration: underline;
  color: #ff0000;
}

.help_separator {
  color: #69696948;
}
.modal_container .withdraw_title {
  font-size: 2rem;
  font-family: "PaperlogyMD";
  font-weight: 700;
  margin-bottom: 1rem;
}

.modal_container .withdraw_p {
  font-size: 1rem;
  font-family: "NotoSansRG";
  margin-bottom: 0.2rem;
}
.modal_container .withdraw_p strong {
  color: rgb(253, 39, 11);
  margin-left: 3px;
  margin-right: 3px;
}

.modal_container .disabled_btn {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

/* /////////////////////////////////주석: 모바일 반응성///////////////////////////////////////////////////////////////// */
@media (max-width: 479px) {
  .mypage_container {
    margin-top: 2rem;
    max-width: 21rem;
    padding: 1rem 1rem;
  }

  .user_email {
    max-width: 200px;
    white-space: normal;
    display: inline-block;
    word-break: break-all;
  }
  .update_button {
    padding: 0.3rem 0.5rem;
    font-family: "NotoSansSB";
    font-size: 1rem;
    white-space: nowrap;
  }

  .request_info {
    font-size: 1rem;
    font-weight: 500;
    margin: 0.2rem 0;
  }

  .request_info_button {
    padding: 0.3rem 0.5rem;
    font-family: "NotoSansSB";
    font-size: 1rem;
  }

  .comp_info_button {
    padding: 0.3rem 0.5rem;
    font-family: "NotoSansSB";
    font-size: 1rem;
  }

  .comp_info_button2 {
    padding: 0.3rem 0.4rem;
    font-size: 0.75rem;
  }

  .company_no {
    font-family: "NotoSansSB";
    font-size: 1rem;
    margin: 0.2rem 0;
  }

  /* 주석: 모바일-업체정보 줄바꿈 */
  .address_input_wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .company_address_input {
    width: 100%;
    margin-bottom: 0.5rem;
    min-height: 48px;
  }

  .button_row {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    width: 100%;
  }
  .address_search_button,
  .address_cancel_button {
    height: 44px;
    padding: 0;
    font-size: 0.9rem;
    width: 45%;
    text-align: center;
    justify-content: center;
    border-radius: 999px;
  }

  .modal_buttons {
    margin-top: 1.35rem;
  }
}
