.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8;
}

.signup_smallcontainer {
  display: flex;
  flex-direction: column;
  width: 550px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.signup_title {
  font-family: "PaperlogyMD";
  margin-bottom: 0.75rem;
  font-size: 2.25rem;
  font-weight: 700;
}

.signup_form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* 프사 변경 영역 */
.img_input_container {
  margin-bottom: 0.8rem;
}
.img_input_container img {
  border-radius: 8px;
  border: 1px solid #ccc;
}
.img_buttons {
  display: flex;
  justify-content: space-evenly;
  width: 180px;
  margin-top: 0.75rem;
}
.img_buttons button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 70px;
  color: black;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  font-family: "NotoSansRG";
}
.img_buttons .delete_button {
  background-color: rgba(255, 0, 0, 0.596);
}

/* 전체 input field */
.signup_input_container {
  position: relative;
  margin-bottom: 0.8rem;
}

.input {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 100px;
  font-family: "NotoSansRG";
}

/* 주석:: 중복확인  */
.email_duplicheck,
.nickname_duplicheck,
.check_button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000;
  color: white;
  font-family: "NotoSansRG";
  font-weight: 500;
  font-size: 0.7rem;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  white-space: nowrap;
  transition: 320ms;
}

.email_duplicheck:hover,
.nickname_duplicheck:hover,
.check_button:hover {
  background-color: #3d3d3d;
  color: azure;
}

/* 주석:: submit버튼 */
.login_button {
  width: 95%;
  background: linear-gradient(90deg, #4ba9af, #3dbbc4);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 0.9rem;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  margin: 1rem auto;
  font-family: "NotoSansRG";
}

/* 주석: 에러 메시지 */
.error {
  color: red;
  font-size: 0.95rem;
  margin: -1.1rem auto 0;
  min-height: 1.35rem;
  font-family: "NotoSansRG";
  font-weight: 400;
}

.nickname_ok {
  color: green;
}
.password_ok {
  color: rgb(40, 112, 245);
}
.pw2_ok {
  color: rgb(40, 112, 245);
}
.sms_ok {
  color: green;
}

/* 주석: 문자인증 모달 디자인 */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal_container {
  background: white;
  border-radius: 8px;
  padding: 1.5rem;
  width: 380px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal_container h3 {
  margin-bottom: 0.75rem;
}

.auth_input {
  width: 80%;
  padding: 8px;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.timer {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #555;
}

.modal_buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.modal_button {
  width: 25%;
  padding: 0.6rem 0;
  font-weight: bold;
  border: none;
  background-color: #222222;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 0.65rem;
}

.modal_button.cancel {
  background-color: rgb(73, 27, 180);
}

/* /////////////////////////////////주석: 모바일 반응성///////////////////////////////////////////////////////////////// */
@media (max-width: 479px) {
  .signup_smallcontainer {
    margin-top: 5rem;
    max-width: 21rem;
    padding: 1rem 1rem;
  }
}
